*{margin: 0;padding: 0;}
ul{list-style: none;}
a{text-decoration: none;}

#header_out{
    width: 100%;
    position: relative;
    z-index: 5;
}

#header{
    width: 1000px;
    height: 250px;
    border: 1px solid #333;
    margin: 0 auto;
}


#header #logo{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

#logo img{
    display: block;
    width: 100%;
    height: 100%;
}

#header #icons{
    float: left;
}

#icons ul li{
    float: left;
    margin-left: 10px;
}

#header #gnb{
    float: right;
}
#gnb ul li{
    float: left;
    padding: 0 10px;
    background: url(../images/bar.png) no-repeat 100% 50%;
}

#gnb ul li:nth-child(3){
    background: none;
}

#gnb ul li a{
    color: #333;
}

#main_nav{
    position: absolute;
    width: 100%;
    top: 250px;
    left: 0;
}

#main_nav>ul{
    /* 그림자 띄울때 ul에 position relative 안주면 메뉴 쉐도우안됌 */
    position: relative;
    margin: 0 auto;
    width: 1000px; 
    z-index: 10;
} 

#main_nav>ul>li{
    float: left;
    text-align: center;
    background-color: #333;
}

#main_nav >ul>li{
    float: left;
    text-align: center;
    background-color: #333;
}

#main_nav ul li a{
    display: block;
    width: 200px;
    height: 30px;
    line-height: 30px;
    color: #fff;
}

#main_nav ul li ul{
    background-color: rgba(0,0,255,0.1);
    position: absolute;
    height: 90px;
    padding: 10px 0;
    display: none;
}

#main_nav ul:hover li ul{
    display: block;
}

#main_nav ul:hover + .shadow{
    height: 110px;
}

.shadow{
    position: absolute;
    width: 100%;
    height: 0;
    top: 30px;
    background-color: rgba(0,0,255,0.1);
}

#main{
    width: 1000px;
    height: 600px;
    position: relative;
    border: 1px solid #333;
    margin: 0 auto;

}
#main img{
    display: block;
    width: 100%;
    height: 100%;
}