* {
    margin: 0;
    padding: 0;
}

#wrapper {
    width: 900px;
    margin: 0 auto;
}

header {
    height: 200px;
    background-color: #f46075;
}

header h1 {
    float: left;
    margin-left: 50px;
    margin-top: 70px;
    color: #ffffff;
}

.logo_p {
    float: right;
    margin-top: 20px;
    margin-right: 20px;
}

nav {
    /* float left 안하면 후에 기능이 동작안하는 경우가 있음 */
    float: left;
    width: 900px;
    height: 60px;
    background-color: #ccc;
}

nav ul {
    list-style: none;
}

nav>ul>li {
    float: left;
}

nav>ul>ul{
    float: left;
}

nav ul li a {
    display: block;
    width: 225px;
    height: 40px;
    margin-top: 10px;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: #000;
}

nav ul li a:hover {
    font-weight: bold;
    background-color: #f46075;
    color: #fff;
    border-radius: 20px 20px 0 0;
}

nav ul li ul{
    display: none;
    background-color: #f46075;
}

nav ul li:hover ul{
    display: block;
    position: absolute;
    border-radius: 0 0 20px 20px;
}

.main {
    height: 550px;
}

section {
    width: 650px;
    height: 550px;
    background-color: skyblue;
    float: left;
}

section h2 {
    text-align: center;
}

section article {
    float: left;
    width: 270px;
    height: 210px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #333;
    margin: 0px 0 15px 20px;
}

article h3{
    background-image: url(../Dogimg/bg.png);
    background-repeat: no-repeat;
    padding-bottom: 10px;
    padding-left: 30px;
}

article p {
    font-size: 14px;
    /* 텍스트 양쪽 정렬 */
    text-align: justify;
}

aside {
    width: 250px;
    height: 550px;
    background-color: #ffffcc;
    float: left;
    text-align: center;
}

aside h2 {
    /* 상하좌우 */
    padding: 10px;
}

aside .dog {
    padding-bottom: 10px;
}

footer {
    height: 50px;
    background-color: #333;
    color: #fff;
    line-height: 50px;
    text-align: center;
    font-size: 17px;
}